<%- include ('./header.ejs') %>
                        <div class="topsearch">
                            <form role="search" method="get" class="search-form" action="https://cash2lending.com/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
				</label>
				<input type="submit" class="search-submit" value="Search" />
			</form>                        </div>
                    </div><!-- #navbar -->
                    <div class="clear"></div>
                </div>
            </header><!-- #masthead -->
        </div>
        
                <!-- #Banner -->
        		<div id="main" class="site-main">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

						
				<article id="post-23" class="post-23 page type-page status-publish hentry">
					<header class="entry-header">
											</header><!-- .entry-header -->

					<div class="entry-content">
								<div data-elementor-type="wp-page" data-elementor-id="23" class="elementor elementor-23" data-elementor-settings="[]">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-d24e939 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="d24e939" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c735046" data-id="c735046" data-element_type="column">
			<div class="elementor-widget-wrap">
									</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-32322e3d elementor-section-content-middle elementor-reverse-mobile elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="32322e3d" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2310f9db" data-id="2310f9db" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-41f7eb91 elementor-widget elementor-widget-heading" data-id="41f7eb91" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">About Us</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-1596c21a elementor-widget elementor-widget-text-editor" data-id="1596c21a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>  If you’re in need of further information about short term loans or submitting a loan request form, please review our website below. Our website offers an infomediary service that will attempt to connect you with independent, third party lenders and financial service providers who may secure a short term loan for you. The operator of this website is not a lender, agent, or representative to any lender and does not make loan decisions.</p></div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-495acfc9" data-id="495acfc9" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-7f7826c0 elementor-widget elementor-widget-image" data-id="7f7826c0" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="604" height="270" src="https://cash2lending.com/wp-content/uploads/2021/02/pexels-pixabay-53621-604x270.jpg" class="attachment-post-thumbnail size-post-thumbnail" alt="" loading="lazy" />											</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-119e0514 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="119e0514" data-element_type="section">
						<div class="elementor-container elementor-column-gap-wide">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-4a896e5e" data-id="4a896e5e" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e766978 elementor-widget elementor-widget-toggle" data-id="e766978" data-element_type="widget" data-widget_type="toggle.default">
				<div class="elementor-widget-container">
					<div class="elementor-toggle" role="tablist">
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-2421" class="elementor-tab-title" data-tab="1" role="tab" aria-controls="elementor-tab-content-2421">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">What are short-term(Payday) loans?</a>
					</div>
					<div id="elementor-tab-content-2421" class="elementor-tab-content elementor-clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-2421"><p>A short-term(Payday) loan, also referred to as a payday loan, is a loan that can be very useful for financial emergencies. Short term loans are made for the purpose of assisting consumers with temporary financing to resolve immediate cash needs and should not be considered a long-term solution. The amount of money loan is based on the amount of money a person makes and is determined by your lender. It is suitable for people with all credit types.</p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-2422" class="elementor-tab-title" data-tab="2" role="tab" aria-controls="elementor-tab-content-2422">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">What are the minimum requirements for getting a short-term loan?</a>
					</div>
					<div id="elementor-tab-content-2422" class="elementor-tab-content elementor-clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-2422"><p>A short-term loan, also referred to as a payday loan, is a loan that can be very useful for financial emergencies. Short term loans are made for the purpose of assisting consumers with temporary financing to resolve immediate cash needs and should not be considered a long-term solution. The amount of money loan is based on the amount of money a person makes and is determined by your lender. It is suitable for people with all credit types.</p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-2423" class="elementor-tab-title" data-tab="3" role="tab" aria-controls="elementor-tab-content-2423">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">What are the minimum requirements for getting a short-term loan?</a>
					</div>
					<div id="elementor-tab-content-2423" class="elementor-tab-content elementor-clearfix" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-2423"><p>There are certain requirements one has to fulfill in order to receive a loan from a lender. Consumers must:</p><ul><li>Be a United States Citizen or Permanent Resident and reside in a state where short term loans are legal.</li><li>Be at least 18 years old.</li><li>Have a job that pays a certain amount of income or have a steady and reliable source of income.</li><li>Have direct deposit to a bank account.</li></ul></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-2424" class="elementor-tab-title" data-tab="4" role="tab" aria-controls="elementor-tab-content-2424">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">What about my credit history?</a>
					</div>
					<div id="elementor-tab-content-2424" class="elementor-tab-content elementor-clearfix" data-tab="4" role="tabpanel" aria-labelledby="elementor-tab-title-2424"><p>Consumers with all credit types are welcomed to submit a loan request form. Consumers with bad credit history may get access to short term loans depending on certain lenders. However, our website makes no representation that all consumers will qualify.</p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-2425" class="elementor-tab-title" data-tab="5" role="tab" aria-controls="elementor-tab-content-2425">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">Will I need to print or fax anything?</a>
					</div>
					<div id="elementor-tab-content-2425" class="elementor-tab-content elementor-clearfix" data-tab="5" role="tabpanel" aria-labelledby="elementor-tab-title-2425"><p>Part of the advantage of these loans is that most of the participating lenders require no papers to be printed or faxed in order to request a loan. However, it is important that you have a printer to print out the loan documents for your own records. We encourage you to reach out to your lender directly for more information.</p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-2426" class="elementor-tab-title" data-tab="6" role="tab" aria-controls="elementor-tab-content-2426">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">How much does it cost?</a>
					</div>
					<div id="elementor-tab-content-2426" class="elementor-tab-content elementor-clearfix" data-tab="6" role="tabpanel" aria-labelledby="elementor-tab-title-2426"><p>Submitting a loan request form on our website is absolutely free. Please remember that we are not a lender and we do not provide lending services directly to consumers. Our website may receive payment for each qualified sale or payment for each potential customer referral. Any costs associated with specific loans must be discussed with your lender directly as our website does not have access to this information. Only a lender can provide accurate information on the costs of your specific loan.</p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-2427" class="elementor-tab-title" data-tab="7" role="tab" aria-controls="elementor-tab-content-2427">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">What is the repayment process?</a>
					</div>
					<div id="elementor-tab-content-2427" class="elementor-tab-content elementor-clearfix" data-tab="7" role="tabpanel" aria-labelledby="elementor-tab-title-2427"><p>Loan repayment processes differ depending on specific lenders and loans. Usually, the loan amount and loan fees are withdrawn from your checking account automatically on the due date of your loan by your lender. We encourage you to contact your lender directly with questions regarding your repayment process as only a lender can provide accurate information.</p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-2428" class="elementor-tab-title" data-tab="8" role="tab" aria-controls="elementor-tab-content-2428">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">What happens if I am late on a payment or need to skip a payment?</a>
					</div>
					<div id="elementor-tab-content-2428" class="elementor-tab-content elementor-clearfix" data-tab="8" role="tabpanel" aria-labelledby="elementor-tab-title-2428"><p>Lenders have their own policies pertaining to late payments and these may differ. Only a lender can provide accurate information on your specific loan terms and late payment consequences. Your lender&#8217;s policy, including the additional charges you will incur, is detailed in the loan documents provided to you by your lender before you sign your loan document. Once you have signed your lender&#8217;s loan documents, you will be expected to understand and abide by the loan terms including the additional charges and/or interest if your repayment is late. If you are not able to make the payments timely, please contact your lender directly for more information.</p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-2429" class="elementor-tab-title" data-tab="9" role="tab" aria-controls="elementor-tab-content-2429">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">What if I don't make a payment at all?</a>
					</div>
					<div id="elementor-tab-content-2429" class="elementor-tab-content elementor-clearfix" data-tab="9" role="tabpanel" aria-labelledby="elementor-tab-title-2429"><p>Only a lender can provide accurate information on your payment termd and fees. Your lender may charge additional fees in the event that you do not repay your loan. Please remember that refusal or failure to pay may result in legal action against you by your lender in an attempt to collect the loan amount, interest, and costs of collections. For more information, we encourage you to reach out to your lender directly.</p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-24210" class="elementor-tab-title" data-tab="10" role="tab" aria-controls="elementor-tab-content-24210">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">Is there an option to refinance an existing loan?</a>
					</div>
					<div id="elementor-tab-content-24210" class="elementor-tab-content elementor-clearfix" data-tab="10" role="tabpanel" aria-labelledby="elementor-tab-title-24210"><p>Loan renewal policies are largely governed by state law and vary among Lenders. Only a lender can provide accurate information on your specific loan terms. In states where rollovers or extensions are allowed, interest rates, and late fees may be added to the original loan amount by your lender and that can result in a substantial increase to the amount you will be required to pay back. Again, be sure to read your lender&#8217;s loan agreement carefully and thoroughly before signing the initial loan contract. We encourage you to reach out to your lender directly for more information.</p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-24211" class="elementor-tab-title" data-tab="11" role="tab" aria-controls="elementor-tab-content-24211">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">Is my personal information kept safe?</a>
					</div>
					<div id="elementor-tab-content-24211" class="elementor-tab-content elementor-clearfix" data-tab="11" role="tabpanel" aria-labelledby="elementor-tab-title-24211"><p>Our website is committed to keeping consumer information safe from unauthorized access and takes several precautions to protect your personal information. We use robust industry procedures and safeguards, including encryption, to protect personal information. Our Company will never sell or share your information with unaffiliated third-parties.</p></div>
				</div>
					</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
						</div>
					</div>
													</div><!-- .entry-content -->

					<footer class="entry-meta">
											</footer><!-- .entry-meta -->
				</article><!-- #post -->

				
<div id="comments" class="comments-area">

	
	
</div><!-- #comments -->			
		</div><!-- #content -->
        	</div><!-- #primary -->



		</div><!-- #main -->
		<footer id="colophon" class="site-footer" role="contentinfo">
        				<div id="secondary" class="sidebar-container" role="complementary">
		<div class="widget-area">
			<aside id="calendar-2" class="widget widget_calendar"><h3 class="widget-title">Calendar</h3><div id="calendar_wrap" class="calendar_wrap"><table id="wp-calendar" class="wp-calendar-table">
	<caption>March 2021</caption>
	<thead>
	<tr>
		<th scope="col" title="Monday">M</th>
		<th scope="col" title="Tuesday">T</th>
		<th scope="col" title="Wednesday">W</th>
		<th scope="col" title="Thursday">T</th>
		<th scope="col" title="Friday">F</th>
		<th scope="col" title="Saturday">S</th>
		<th scope="col" title="Sunday">S</th>
	</tr>
	</thead>
	<tbody>
	<tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td>
	</tr>
	<tr>
		<td>8</td><td><a href="09/" aria-label="Posts published on March 9, 2021">9</a></td><td><a href="10/" aria-label="Posts published on March 10, 2021">10</a></td><td>11</td><td><a href="12/" aria-label="Posts published on March 12, 2021">12</a></td><td id="today">13</td><td>14</td>
	</tr>
	<tr>
		<td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td>
	</tr>
	<tr>
		<td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td>
	</tr>
	<tr>
		<td>29</td><td>30</td><td>31</td>
		<td class="pad" colspan="4">&nbsp;</td>
	</tr>
	</tbody>
	</table><nav aria-label="Previous and next months" class="wp-calendar-nav">
		<span class="wp-calendar-nav-prev">&nbsp;</span>
		<span class="pad">&nbsp;</span>
		<span class="wp-calendar-nav-next">&nbsp;</span>
	</nav></div></aside><aside id="categories-2" class="widget widget_categories"><h3 class="widget-title">Blog</h3>
			<ul>

			</ul>

			</aside><aside id="custom_html-2" class="widget_text widget widget_custom_html"><h3 class="widget-title">Address</h3><div class="textwidget custom-html-widget"><br>1123 4rd St. San Francisco, CA 66507 <br>
<br>support@cash2lending.com<br>
<br>+1 (614) 845 9646<br>
</div></aside><aside id="custom_html-3" class="widget_text widget widget_custom_html"><h3 class="widget-title">Menu</h3><div class="textwidget custom-html-widget"><br> Payday Loan <br>
<br> Installment Loan <br>
<br> Title Loan <br>
<br> Line of credit <br>
<br> Apply Now <br></div></aside>		</div><!-- .widget-area -->
	</div><!-- #secondary -->
				

			</div><!-- .site-info -->
		</footer><!-- #colophon -->
	</div><!-- #page -->

<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/jquery/ui/effect.min.js?ver=1.12.1' id='jquery-effects-core-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/take-the-lead/jquery.mask.js?ver=5.7' id='takethelead_mask_script-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/take-the-lead/takethelead.js?ver=5.7' id='takethelead_script-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/imagesloaded.min.js?ver=4.1.4' id='imagesloaded-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/masonry.min.js?ver=4.2.2' id='masonry-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2b' id='jquery-masonry-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/owl.carousel.min.js?ver=1.3.2' id='owl-carousel-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/jquery.colorbox-min.js?ver=1.5.14' id='colorbox-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/jquery.inview.min.js?ver=1.0.0' id='inview-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/tx-script.js?ver=2013-07-18' id='tx-script-js'></script>
<script type='text/javascript' id='cf3101450-js-extra'>
/* <![CDATA[ */
var localize = {"ajaxurl":"https:\/\/cash2lending.com\/wp-admin\/admin-ajax.php","nonce":"dc2148464f","i18n":{"added":"Added ","compare":"Compare","loading":"Loading..."}};
/* ]]> */
</script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/uploads/essential-addons-elementor/734e5f942.min.js?ver=1615644499' id='cf3101450-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/modernizr.custom.js?ver=2014-01-13' id='modernizer-custom-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/waypoints.min.js?ver=2014-01-13' id='itransform-waypoint-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/jquery.sidr.min.js?ver=2014-01-13' id='itransform-sidr-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/functions.js?ver=2016-10-18' id='itransform-script-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/wp-embed.min.js?ver=5.7' id='wp-embed-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.1.2' id='elementor-webpack-runtime-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.1.2' id='elementor-frontend-modules-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/jquery/ui/core.min.js?ver=1.12.1' id='jquery-ui-core-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.8.1' id='elementor-dialog-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2' id='elementor-waypoints-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=3.1.2' id='share-link-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6' id='swiper-js'></script>
<script type='text/javascript' id='elementor-frontend-js-before'>
var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false,"isImprovedAssetsLoading":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","download":"Download","downloadImage":"Download image","fullscreen":"Fullscreen","zoom":"Zoom","share":"Share","playVideo":"Play Video","previous":"Previous","next":"Next","close":"Close"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"version":"3.1.2","is_static":false,"experimentalFeatures":{"e_dom_optimization":true,"a11y_improvements":true,"landing-pages":true},"urls":{"assets":"https:\/\/cash2lending.com\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description"},"post":{"id":23,"title":"About%20Us%20%E2%80%93%20Payday%20%20Loan%20%7C%20Cash%20in%20advance%20%7C%20Installment%20Loan%20%7C%20Cash%20Loans%20%7C%20Title%20Loan%20%7CCash2Lending%20%7CLoan%20%7C%20online%20Loan%20%7C%20USA%20Loan%7C%20Insurance%7C%20Mortgage%7C%20Attorney%7C%20Credit%7C%20%7C","excerpt":"","featuredImage":false}};
</script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.1.2' id='elementor-frontend-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/preloaded-elements-handlers.min.js?ver=3.1.2' id='preloaded-elements-handlers-js'></script>
</body>
</html>