<%- include ('./header.ejs') %>
<div class="topsearch">
	<form role="search" method="get" class="search-form" action="">
<label>
<span class="screen-reader-text">Search for:</span>
<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
</label>
<input type="submit" class="search-submit" value="Search" />
</form>                        </div>
</div><!-- #navbar -->
<div class="clear"></div>
</div>
</header><!-- #masthead -->
</div>

        
                <!-- #Banner -->
        		<div id="main" class="site-main">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

						
				<article id="post-23" class="post-23 page type-page status-publish hentry">
					<header class="entry-header">
											</header><!-- .entry-header -->

					<div class="entry-content">
								<div data-elementor-type="wp-page" data-elementor-id="23" class="elementor elementor-23" data-elementor-settings="[]">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-d24e939 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="d24e939" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-c735046" data-id="c735046" data-element_type="column">
			<div class="elementor-widget-wrap">
									</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-32322e3d elementor-section-content-middle elementor-reverse-mobile elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="32322e3d" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2310f9db" data-id="2310f9db" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-41f7eb91 elementor-widget elementor-widget-heading" data-id="41f7eb91" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">About Us</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-1596c21a elementor-widget elementor-widget-text-editor" data-id="1596c21a" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>  If you’re in need of further information about short term loans or submitting a loan request form, please review our website below. Our website offers an infomediary service that will attempt to connect you with independent, third party lenders and financial service providers who may secure a short term loan for you. The operator of this website is not a lender, agent, or representative to any lender and does not make loan decisions.</p></div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-495acfc9" data-id="495acfc9" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-7f7826c0 elementor-widget elementor-widget-image" data-id="7f7826c0" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="604" height="270" src="https://cash2lending.com/wp-content/uploads/2021/02/pexels-pixabay-53621-604x270.jpg" class="attachment-post-thumbnail size-post-thumbnail" alt="" loading="lazy" />											</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
			
						</div>
					</div>
													</div><!-- .entry-content -->

					<footer class="entry-meta">
											</footer><!-- .entry-meta -->
				</article><!-- #post -->

				
<div id="comments" class="comments-area">

	
	
</div><!-- #comments -->			
		</div><!-- #content -->
        	</div><!-- #primary -->



		</div><!-- #main -->
		<%- include ('./footer.ejs') %>
	</div><!-- #page -->

<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/jquery/ui/effect.min.js?ver=1.12.1' id='jquery-effects-core-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/take-the-lead/jquery.mask.js?ver=5.7' id='takethelead_mask_script-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/take-the-lead/takethelead.js?ver=5.7' id='takethelead_script-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/imagesloaded.min.js?ver=4.1.4' id='imagesloaded-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/masonry.min.js?ver=4.2.2' id='masonry-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2b' id='jquery-masonry-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/owl.carousel.min.js?ver=1.3.2' id='owl-carousel-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/jquery.colorbox-min.js?ver=1.5.14' id='colorbox-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/jquery.inview.min.js?ver=1.0.0' id='inview-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/tx-script.js?ver=2013-07-18' id='tx-script-js'></script>
<script type='text/javascript' id='cf3101450-js-extra'>
/* <![CDATA[ */
var localize = {"ajaxurl":"https:\/\/cash2lending.com\/wp-admin\/admin-ajax.php","nonce":"dc2148464f","i18n":{"added":"Added ","compare":"Compare","loading":"Loading..."}};
/* ]]> */
</script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/uploads/essential-addons-elementor/734e5f942.min.js?ver=1615644499' id='cf3101450-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/modernizr.custom.js?ver=2014-01-13' id='modernizer-custom-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/waypoints.min.js?ver=2014-01-13' id='itransform-waypoint-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/jquery.sidr.min.js?ver=2014-01-13' id='itransform-sidr-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/functions.js?ver=2016-10-18' id='itransform-script-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/wp-embed.min.js?ver=5.7' id='wp-embed-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.1.2' id='elementor-webpack-runtime-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.1.2' id='elementor-frontend-modules-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/jquery/ui/core.min.js?ver=1.12.1' id='jquery-ui-core-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.8.1' id='elementor-dialog-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2' id='elementor-waypoints-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=3.1.2' id='share-link-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6' id='swiper-js'></script>
<script type='text/javascript' id='elementor-frontend-js-before'>
var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false,"isImprovedAssetsLoading":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","download":"Download","downloadImage":"Download image","fullscreen":"Fullscreen","zoom":"Zoom","share":"Share","playVideo":"Play Video","previous":"Previous","next":"Next","close":"Close"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"version":"3.1.2","is_static":false,"experimentalFeatures":{"e_dom_optimization":true,"a11y_improvements":true,"landing-pages":true},"urls":{"assets":"https:\/\/cash2lending.com\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description"},"post":{"id":23,"title":"About%20Us%20%E2%80%93%20Payday%20%20Loan%20%7C%20Cash%20in%20advance%20%7C%20Installment%20Loan%20%7C%20Cash%20Loans%20%7C%20Title%20Loan%20%7CCash2Lending%20%7CLoan%20%7C%20online%20Loan%20%7C%20USA%20Loan%7C%20Insurance%7C%20Mortgage%7C%20Attorney%7C%20Credit%7C%20%7C","excerpt":"","featuredImage":false}};
</script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.1.2' id='elementor-frontend-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/preloaded-elements-handlers.min.js?ver=3.1.2' id='preloaded-elements-handlers-js'></script>
</body>
</html>