<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
  <title>Finance Solution Center | Admin Panel</title>
  <!-- General CSS Files -->
  <link rel="stylesheet" href="/light/assets/css/app.min.css">
  <link rel="stylesheet" href="/light/assets/bundles/jqvmap/dist/jqvmap.min.css">
  <link rel="stylesheet" href="/light/assets/bundles/weather-icon/css/weather-icons.min.css">
  <link rel="stylesheet" href="/light/assets/bundles/weather-icon/css/weather-icons-wind.min.css">
  <link rel="stylesheet" href="/light/assets/bundles/summernote/summernote-bs4.css">
  <!-- Template CSS -->
  <link rel="stylesheet" href="/light/assets/css/style.css">
  <link rel="stylesheet" href="/light/assets/css/components.css">
  <!-- Custom style CSS -->
  <link rel="stylesheet" href="/light/assets/css/custom.css">
  <link rel='shortcut icon' type='image/x-icon' href='/light/assets/img/favicon.ico' />
</head>

<body>
  <div class="loader"></div>
  <div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <nav class="navbar navbar-expand-lg main-navbar">
        <div class="form-inline mr-auto">
          <ul class="navbar-nav mr-3">
            <li><a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a></li>
            <li><a href="#" class="nav-link nav-link-lg fullscreen-btn">
                <i data-feather="maximize"></i>
              </a></li>
            <li>
            
            </li>
          </ul>
        </div>
        <ul class="navbar-nav navbar-right">
       
          <li class="dropdown"><a href="#" data-toggle="dropdown"
              class="nav-link dropdown-toggle nav-link-lg nav-link-user"> <img alt="image" src="/light/assets/img/user.png"
                class="user-img-radious-style"> <span class="d-sm-none d-lg-inline-block"></span></a>
            <div class="dropdown-menu dropdown-menu-right pullDown">
              <div class="dropdown-title">Hello Admin</div>
               <!-- <a href="/admin/change-password" class="dropdown-item has-icon"> <i class="fas fa-bolt"></i>
                Change Password -->
            
              <div class="dropdown-divider"></div>
              <a href="/logout" class="dropdown-item has-icon text-danger"> <i class="fas fa-sign-out-alt"></i>
                Logout
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
          <div class="sidebar-brand">
        
          </div>
          <!-- <div class="sidebar-user">
            <div class="sidebar-user-picture">
              <img alt="image" src="/light/assets/img/userbig.png">
            </div>
            <div class="sidebar-user-details">
              <div class="user-name">Sarah Smith</div>
              <div class="user-role">Administrator</div>
            </div>
          </div> -->
          <ul class="sidebar-menu">
            <li class="menu-header">Main</li>
            <li class="dropdown active">
              <a href="/loan-request" class="nav-link"><i data-feather="monitor"></i><span>Loan Request</span></a>
              <!-- <ul class="dropdown-menu">
                <li class="active"><a class="nav-link" href="index.html">Dashboard V1</a></li>
                <li><a class="nav-link" href="index2.html">Dashboard V2</a></li>
              </ul> -->
            </li>
            
            <li class="dropdown">
                <a href="/quote-request" class="nav-link"><i data-feather="monitor"></i><span>Quote Request</span></a>
                <!-- <ul class="dropdown-menu">
                  <li class="active"><a class="nav-link" href="index.html">Dashboard V1</a></li>
                  <li><a class="nav-link" href="index2.html">Dashboard V2</a></li>
                </ul> -->
              </li>



             



              <li class="dropdown">
                <a href="/apply-request"  class="nav-link"><i data-feather="monitor"></i><span>Apply Request</span></a>
                <!-- <ul class="dropdown-menu">
                  <li class="active"><a class="nav-link" href="index.html">Dashboard V1</a></li>
                  <li><a class="nav-link" href="index2.html">Dashboard V2</a></li>
                </ul> -->
              </li>


        


            
         
           
                
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </aside>
      </div>