<%- include ('./header.ejs') %>
                        <div class="topsearch">
                            <form role="search" method="get" class="search-form" action="https://cash2lending.com/">
				<label>
					<span class="screen-reader-text">Search for:</span>
					<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
				</label>
				<input type="submit" class="search-submit" value="Search" />
			</form>                        </div>
                    </div><!-- #navbar -->
                    <div class="clear"></div>
                </div>
            </header><!-- #masthead -->
        </div>
        
                <!-- #Banner -->
        		<div id="main" class="site-main">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

						
				<article id="post-46" class="post-46 page type-page status-publish hentry">
					<header class="entry-header">
											</header><!-- .entry-header -->

					<div class="entry-content">
								<div data-elementor-type="wp-page" data-elementor-id="46" class="elementor elementor-46" data-elementor-settings="[]">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-887958c elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="887958c" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-d5461f0" data-id="d5461f0" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-50e9701 elementor-widget elementor-widget-shortcode" data-id="50e9701" data-element_type="widget" data-widget_type="shortcode.default">
				<div class="elementor-widget-container">
					<div class="elementor-shortcode"><style>
    #takethelead p {color: #067398}
    #takethelead p.warning {color:red;}
    #takethelead p.warning > label { color: red;}
    #takethelead .action-button {background: #067398;color:#FFFFFF}
    #takethelead input[type=text], #takethelead input[type=tel], #takethelead input[type=email], #takethelead select, #takethelead textarea {border-color:#CCCCCC;}
    #takethelead input[type="checkbox"] + label::before {border-color:#CCCCCC;}
    #takethelead input[type=range]::-webkit-slider-runnable-track {border-color:#CCCCCC;}
    #takethelead .required {border: 1px solid #067398;}
    #progressbar li:before {color:#067398;background:#CCCCCC;}
    #progressbar li:after {background:#CCCCCC;}
    #progressbar li.active:before,  #progressbar li.active:after{background:#067398;}
    #takethelead input[type=range]::-webkit-slider-thumb {background:#067398;}
    #takethelead input[type=range]::-moz-range-thumb {background:#067398;}
    #takethelead input[type=range]::-ms-thumb {background:#067398;}
    #takethelead input[type="checkbox"].required+ label::before {border-color:#067398;}
    #takethelead input[type="checkbox"]:checked+label::before {background:#067398;}
    h2.section_success_title {color:#343848;}
    </style>
    <div class="takethelead_page"><!-- takethelead form -->
	<script type="text/javascript">
		var takethelead_fields = {"loanamount":{"required":true,"callback":function(obj){ console.log(obj.selectedIndex); return ((obj.selectedIndex != 0)? true: false); }},
			"businessname":{"required":false,"callback":function(obj){ return ((obj.value)? true: false); }},
			"businesstype":{"required":true,"callback":function(obj){ console.log(obj.selectedIndex); return ((obj.selectedIndex != 0)? true: false); }},
			"conditional":{"required":false,"callback":function(obj){ return ((obj.selectedIndex != 0)? true: false); }},
			"yourname":{"required":true,"callback":function(obj){ return ((obj.value)? true: false); }},
			"youremail":{"required":true,"callback":function (obj) { return obj.value.match(/^(([^<>()\[\]\.,;:\s@"]+(\.[^<>()\[\]\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/); }},
			"yourphone":{"required":false,"callback":function(obj){ return ((obj.value)? true: false); }},
			"address":{"required":false,"callback":function(obj){ return ((obj.value)? true: false); }},
			"town":{"required":false,"callback":function(obj){ return ((obj.value)? true: false); }},
			"postcode":{"required":false,"callback":function(obj){ return ((obj.value)? true: false); }},
			"message":{"required":false,"callback":function(obj){ return ((obj.value)? true: false); }},
			"businesscategory":{"required":true,"callback":function(obj){ console.log(obj.selectedIndex); return ((obj.selectedIndex != 0)? true: false); }},
			"loanterm":{"required":false,"callback":function(obj){ return ((obj.selectedIndex != 0)? true: false); }},
			"yourincome":{"required":true,"callback":function(obj){ return ((obj.selectedIndex != 0)? true: false); }},
			"loanstart":{"required":false,"callback":function(obj){ return ((obj.value)? true: false); }},
			"dateofbirth":{"required":false,"callback":function(obj){ return ((obj.value)? true: false); }},
			"workphone":{"required":false,"callback":function(obj){ return ((obj.value)? true: false); }},
			"terms":{"required":false,"callback":function(obj){ return ((obj.value)? true: false); }},
			"privacy":{"required":false,"callback":function(obj){ return ((obj.value)? true: false); }},
			"youranswer":{"required":true,"callback":function(obj){ return ((obj.value)? true: false); }},
			"slider":{"required":false,"callback":function(obj){ return ((obj.value)? true: false); }}};
		var takethelead_ajax_url = "https://cash2lending.com/wp-admin/admin-ajax.php";
		var takethelead_auto_complete = 1;
	</script>
    <form id="takethelead" form action="https://cash2lending.com/wp-admin/admin-ajax.php" method="POST"><ul id="progressbar">
        <li class="active" style="width:33.333333333333%"></li><li style="width:33.333333333333%"></li><li style="width:33.333333333333%"></li></ul><div class="fieldsets"><fieldset class="section1"><p class="inputfield ">How much money do you need?<br>
				    <select class="minimal required" name="loanamount">
	<option value="Select...">Select...</option>
	<option value="under $5000">under $5000</option>
	<option value=" under $10000"> under $10000</option>
	<option value=" under $20000"> under $20000</option>
	<option value=" under $50000 "> under $50000 </option>
	<option value="under $100000">under $100000</option>
	<option value=" over $100000"> over $100000</option>
	</select></p>
	<div class="buttons"><input type="button" name="next" class="next action-button" value="Next" /></div><div class="buttons_working">	<p class="working_loading"></p></div></fieldset><fieldset class="section2"><p class="inputfield ">Business name<br>
				    <input id="businessname" name="businessname" type="text"  value="" /></p>
<p class="inputfield ">Business type<br>
				    <select class="minimal required" name="businesstype">
	<option value="Select...">Select...</option>
	<option value="Sole Proprietorship">Sole Proprietorship</option>
	<option value="Partnership">Partnership</option>
	<option value="Limited Partnership">Limited Partnership</option>
	<option value="Corporation">Corporation</option>
	<option value="Limited Liability Company (LLC)">Limited Liability Company (LLC)</option>
	<option value="Nonprofit Organization">Nonprofit Organization</option>
	<option value="Cooperative (Co-op)">Cooperative (Co-op)</option>
	</select></p>
	<p class="inputfield ">Is your business incorporated?<br>
				    <select class="minimal" name="conditional" >
	<option value="Select...">Select...</option>
	<option value="Yes">Yes</option>
	<option value="No">No</option>
	</select></p>
	<p class="inputfield conditional_hidden">Company number<br>
				    <input id="conditional" name="conditional" type="text"  value="" /></p>
<div class="buttons"><input type="button" name="previous" class="previous action-button" value="Previous" /><input type="button" name="next" class="next action-button" value="Next" /></div><div class="buttons_working">	<p class="working_loading"></p></div></fieldset><fieldset class="section3"><p class="inputfield ">Your name<br>
				    <input id="yourname" name="yourname" type="text"  class = "required"  value="" /></p>
<p class="inputfield ">Email address<br>
				    <input id="youremail" name="youremail" type="text"  class = "required"  value="" /></p>
<p class="inputfield ">Phone number<br>
                    <input id="yourphone" type="tel"  name="yourphone" value="" placeholder="0123-456789" /><script type="text/javascript">jQuery(document).ready(function() {jQuery("input[name=\"yourphone\"]").mask("0000-000000");});</script></p><input type="hidden" name="anything" value="2021-03-13 14:11:48">
            <div class="validator">Enter the word YES in the box: <input type="text" style="width:3em" name="validator" value=""></div><div class="buttons"><input type="button" name="previous" class="previous action-button" value="Previous" /><input type="submit" name="submit" id="takethelead_submit" class="submit action-button" value="Submit" /></div><div class="buttons_working">	<p class="working_loading"></p></div></fieldset><fieldset class="section_success"><h2 class="section_success_title">Success</h2><p class="section_success_blurb">You successfully submitted the form</p></fieldset><fieldset class="section_failure"><h2>Oops</h2><p>The form didn't submit</p></fieldset><fieldset class="section_loading"><p class="loading"></p></fieldset></div></form></div></div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
						</div>
					</div>
													</div><!-- .entry-content -->

					<footer class="entry-meta">
											</footer><!-- .entry-meta -->
				</article><!-- #post -->

				
<div id="comments" class="comments-area">

	
	
</div><!-- #comments -->			
		</div><!-- #content -->
        	</div><!-- #primary -->



		</div><!-- #main -->
		<footer id="colophon" class="site-footer" role="contentinfo">
        				<div id="secondary" class="sidebar-container" role="complementary">
		<div class="widget-area">
			<aside id="calendar-2" class="widget widget_calendar"><h3 class="widget-title">Calendar</h3><div id="calendar_wrap" class="calendar_wrap"><table id="wp-calendar" class="wp-calendar-table">
	<caption>March 2021</caption>
	<thead>
	<tr>
		<th scope="col" title="Monday">M</th>
		<th scope="col" title="Tuesday">T</th>
		<th scope="col" title="Wednesday">W</th>
		<th scope="col" title="Thursday">T</th>
		<th scope="col" title="Friday">F</th>
		<th scope="col" title="Saturday">S</th>
		<th scope="col" title="Sunday">S</th>
	</tr>
	</thead>
	<tbody>
	<tr><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td><td>7</td>
	</tr>
	<tr>
		<td>8</td><td><a href="09/" aria-label="Posts published on March 9, 2021">9</a></td><td><a href="10/" aria-label="Posts published on March 10, 2021">10</a></td><td>11</td><td><a href="12/" aria-label="Posts published on March 12, 2021">12</a></td><td id="today">13</td><td>14</td>
	</tr>
	<tr>
		<td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td>20</td><td>21</td>
	</tr>
	<tr>
		<td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td><td>28</td>
	</tr>
	<tr>
		<td>29</td><td>30</td><td>31</td>
		<td class="pad" colspan="4">&nbsp;</td>
	</tr>
	</tbody>
	</table><nav aria-label="Previous and next months" class="wp-calendar-nav">
		<span class="wp-calendar-nav-prev">&nbsp;</span>
		<span class="pad">&nbsp;</span>
		<span class="wp-calendar-nav-next">&nbsp;</span>
	</nav></div></aside><aside id="categories-2" class="widget widget_categories"><h3 class="widget-title">Blog</h3>
			<ul>

			</ul>

			</aside><aside id="custom_html-2" class="widget_text widget widget_custom_html"><h3 class="widget-title">Address</h3><div class="textwidget custom-html-widget"><br>1123 4rd St. San Francisco, CA 66507 <br>
<br>support@cash2lending.com<br>
<br>+1 (614) 845 9646<br>
</div></aside><aside id="custom_html-3" class="widget_text widget widget_custom_html"><h3 class="widget-title">Menu</h3><div class="textwidget custom-html-widget"><br> Payday Loan <br>
<br> Installment Loan <br>
<br> Title Loan <br>
<br> Line of credit <br>
<br> Apply Now <br></div></aside>		</div><!-- .widget-area -->
	</div><!-- #secondary -->
				

			</div><!-- .site-info -->
		</footer><!-- #colophon -->
	</div><!-- #page -->

<link rel='stylesheet' id='elementor-tx-styles-css'  href='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/inc/el-widgets/assets/css/txel-addons.css?ver=1.0.1' type='text/css' media='all' />
<link rel='stylesheet' id='hfe-widgets-style-css'  href='https://cash2lending.com/wp-content/plugins/header-footer-elementor/inc/widgets-css/frontend.css?ver=1.5.6' type='text/css' media='all' />
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/jquery/ui/effect.min.js?ver=1.12.1' id='jquery-effects-core-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/take-the-lead/jquery.mask.js?ver=5.7' id='takethelead_mask_script-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/take-the-lead/takethelead.js?ver=5.7' id='takethelead_script-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/imagesloaded.min.js?ver=4.1.4' id='imagesloaded-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/masonry.min.js?ver=4.2.2' id='masonry-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2b' id='jquery-masonry-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/owl.carousel.min.js?ver=1.3.2' id='owl-carousel-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/jquery.colorbox-min.js?ver=1.5.14' id='colorbox-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/jquery.inview.min.js?ver=1.0.0' id='inview-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/tx-script.js?ver=2013-07-18' id='tx-script-js'></script>
<script type='text/javascript' id='90273fbab-js-extra'>
/* <![CDATA[ */
var localize = {"ajaxurl":"https:\/\/cash2lending.com\/wp-admin\/admin-ajax.php","nonce":"dc2148464f","i18n":{"added":"Added ","compare":"Compare","loading":"Loading..."}};
/* ]]> */
</script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/uploads/essential-addons-elementor/734e5f942.min.js?ver=1615644707' id='90273fbab-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/modernizr.custom.js?ver=2014-01-13' id='modernizer-custom-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/waypoints.min.js?ver=2014-01-13' id='itransform-waypoint-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/jquery.sidr.min.js?ver=2014-01-13' id='itransform-sidr-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/functions.js?ver=2016-10-18' id='itransform-script-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/wp-embed.min.js?ver=5.7' id='wp-embed-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.1.2' id='elementor-webpack-runtime-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.1.2' id='elementor-frontend-modules-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/jquery/ui/core.min.js?ver=1.12.1' id='jquery-ui-core-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.8.1' id='elementor-dialog-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2' id='elementor-waypoints-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=3.1.2' id='share-link-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6' id='swiper-js'></script>
<script type='text/javascript' id='elementor-frontend-js-before'>
var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false,"isImprovedAssetsLoading":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","download":"Download","downloadImage":"Download image","fullscreen":"Fullscreen","zoom":"Zoom","share":"Share","playVideo":"Play Video","previous":"Previous","next":"Next","close":"Close"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"version":"3.1.2","is_static":false,"experimentalFeatures":{"e_dom_optimization":true,"a11y_improvements":true,"landing-pages":true},"urls":{"assets":"https:\/\/cash2lending.com\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description"},"post":{"id":46,"title":"Credit%20Card%20%E2%80%93%20Payday%20%20Loan%20%7C%20Cash%20in%20advance%20%7C%20Installment%20Loan%20%7C%20Cash%20Loans%20%7C%20Title%20Loan%20%7CCash2Lending%20%7CLoan%20%7C%20online%20Loan%20%7C%20USA%20Loan%7C%20Insurance%7C%20Mortgage%7C%20Attorney%7C%20Credit%7C%20%7C","excerpt":"","featuredImage":false}};
</script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.1.2' id='elementor-frontend-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/preloaded-elements-handlers.min.js?ver=3.1.2' id='preloaded-elements-handlers-js'></script>
</body>
</html>