<%- include ('./header.ejs') %>
<div class="topsearch">
	<form role="search" method="get" class="search-form" action="">
<label>
<span class="screen-reader-text">Search for:</span>
<input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
</label>
<input type="submit" class="search-submit" value="Search" />
</form>                        </div>
</div><!-- #navbar -->
<div class="clear"></div>
</div>
</header><!-- #masthead -->
</div>

        
                <!-- #Banner -->
        		<div id="main" class="site-main">
	<div id="primary" class="content-area">
		<div id="content" class="site-content" role="main">

						
				<article id="post-40" class="post-40 page type-page status-publish hentry">
					<header class="entry-header">
											</header><!-- .entry-header -->

					<div class="entry-content">
								<div data-elementor-type="wp-page" data-elementor-id="40" class="elementor elementor-40" data-elementor-settings="[]">
							<div class="elementor-section-wrap">
							<section class="elementor-section elementor-top-section elementor-element elementor-element-f7af168 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="f7af168" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-5e5bbed" data-id="5e5bbed" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-37a1733 elementor-widget elementor-widget-spacer" data-id="37a1733" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-1418cdf6 elementor-section-content-middle elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="1418cdf6" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
						<div class="elementor-container elementor-column-gap-custom">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-19a99a66" data-id="19a99a66" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-2ebcd1c5 elementor-widget elementor-widget-heading" data-id="2ebcd1c5" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">Installment Loans</h3>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-211a2520" data-id="211a2520" data-element_type="column">
			<div class="elementor-widget-wrap">
									</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-39468eab elementor-section-content-middle elementor-reverse-mobile elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="39468eab" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-342fa21c" data-id="342fa21c" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-e8a7715 elementor-widget elementor-widget-heading" data-id="e8a7715" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">Get money now, pay it back over time</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-fbd64f1 elementor-widget elementor-widget-heading" data-id="fbd64f1" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h6 class="elementor-heading-title elementor-size-small">Quick and easy Installment Loans with longer-term repayment options</h6>		</div>
				</div>
				<div class="elementor-element elementor-element-1626db4b elementor-widget elementor-widget-text-editor" data-id="1626db4b" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><p>Installment Loans, along with Online Installment Loans, from Advance America get you the money you need today, along with the ability to pay it back in smaller, multiple payments over time. Availability of this loan varies by state.</p><p>A 5-star customer experience has made us a leading provider of consumer financial services for millions of Americans since</p></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-4d4a0e0a elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="4d4a0e0a" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="/apply" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon elementor-align-icon-right">
				<i aria-hidden="true" class="fas fa-angle-double-right"></i>			</span>
						<span class="elementor-button-text">Apply Now</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-52268ed4" data-id="52268ed4" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-4b4986d2 elementor-widget elementor-widget-image" data-id="4b4986d2" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="1497" height="755" src="https://cash2lending.com/wp-content/uploads/2021/02/1-1.png" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cash2lending.com/wp-content/uploads/2021/02/1-1.png 1497w, https://cash2lending.com/wp-content/uploads/2021/02/1-1-300x151.png 300w, https://cash2lending.com/wp-content/uploads/2021/02/1-1-1024x516.png 1024w, https://cash2lending.com/wp-content/uploads/2021/02/1-1-768x387.png 768w" sizes="(max-width: 1497px) 100vw, 1497px" />											</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-29456e1a elementor-section-content-middle elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="29456e1a" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-13a88af4" data-id="13a88af4" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3800a307 elementor-widget elementor-widget-image" data-id="3800a307" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="640" height="300" src="https://cash2lending.com/wp-content/uploads/2021/02/online-loans.jpg" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cash2lending.com/wp-content/uploads/2021/02/online-loans.jpg 640w, https://cash2lending.com/wp-content/uploads/2021/02/online-loans-300x141.jpg 300w" sizes="(max-width: 640px) 100vw, 640px" />											</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-27637a0b" data-id="27637a0b" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-14c7d61 elementor-widget elementor-widget-heading" data-id="14c7d61" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">The Finance Solution Center Installment Loan advantage</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-67b476b8 elementor-widget elementor-widget-text-editor" data-id="67b476b8" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><ul><li>A 5-star customer experience has made us a leading provider of consumer financial services for millions of Americans since</li><li>Our knowledgeable staff and personalized money solutions make getting cash as easy as can be.</li><li>Whether down the street or right from your phone, the money you need is always within reach.</li></ul></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-454b69f1 elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="454b69f1" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="/apply" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon elementor-align-icon-right">
				<i aria-hidden="true" class="fas fa-angle-double-right"></i>			</span>
						<span class="elementor-button-text">Apply Now</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-7a078d8b elementor-section-content-middle elementor-reverse-mobile elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="7a078d8b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-77092ae0" data-id="77092ae0" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-9dc127f elementor-widget elementor-widget-heading" data-id="9dc127f" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-default">How do Installment Loans work?</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-015d705 elementor-widget elementor-widget-heading" data-id="015d705" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h6 class="elementor-heading-title elementor-size-default">Pay back your loan in a way that fits your needs</h6>		</div>
				</div>
				<div class="elementor-element elementor-element-5b684235 elementor-widget elementor-widget-text-editor" data-id="5b684235" data-element_type="widget" data-widget_type="text-editor.default">
				<div class="elementor-widget-container">
					<div class="elementor-text-editor elementor-clearfix"><ul><li>An Installment Loan is a longer-term loan with higher loan amounts and payment terms over an extended period of time.</li><li><a href="/apply">Start your Installment Loan application now</a> </li><li>Get an approval decision in minutes for your Installment Loan application.</li><li>Receive money same day.<sup>*</sup> Pay it back in multiple payments over time.</li></ul></div>
				</div>
				</div>
				<div class="elementor-element elementor-element-477043 elementor-align-left elementor-mobile-align-center elementor-widget elementor-widget-button" data-id="477043" data-element_type="widget" data-widget_type="button.default">
				<div class="elementor-widget-container">
					<div class="elementor-button-wrapper">
			<a href="/apply" class="elementor-button-link elementor-button elementor-size-md" role="button">
						<span class="elementor-button-content-wrapper">
						<span class="elementor-button-icon elementor-align-icon-right">
				<i aria-hidden="true" class="fas fa-angle-double-right"></i>			</span>
						<span class="elementor-button-text">Apply now</span>
		</span>
					</a>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-332ab998" data-id="332ab998" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-45962207 elementor-widget elementor-widget-image" data-id="45962207" data-element_type="widget" data-widget_type="image.default">
				<div class="elementor-widget-container">
					<div class="elementor-image">
										<img width="604" height="396" src="https://cash2lending.com/wp-content/uploads/2021/02/3.jpg" class="attachment-large size-large" alt="" loading="lazy" srcset="https://cash2lending.com/wp-content/uploads/2021/02/3.jpg 640w, https://cash2lending.com/wp-content/uploads/2021/02/3-300x197.jpg 300w" sizes="(max-width: 604px) 100vw, 604px" />											</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-206aa3d3 elementor-section-full_width elementor-section-height-default elementor-section-height-default" data-id="206aa3d3" data-element_type="section">
						<div class="elementor-container elementor-column-gap-wider">
					<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-2f31a5fe" data-id="2f31a5fe" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-76a20089 elementor-view-framed elementor-position-left elementor-vertical-align-middle elementor-shape-circle elementor-widget elementor-widget-icon-box" data-id="76a20089" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<a class="elementor-icon elementor-animation-" href="/apply">
				<i aria-hidden="true" class="fas fa-briefcase"></i>				</a>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<a href="/apply">What’s an Installment Loan?</a>
				</h3>
								<p class="elementor-icon-box-description">An Installment Loan allows you to get money right away, plus pay back the loan over time in several smaller payments. Compared to Payday Loans, Installment Loans offer longer personal loans, ranging from 3 to 24 months, </p>
							</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-6682c5dc elementor-widget elementor-widget-spacer" data-id="6682c5dc" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-79c2b0f1 elementor-view-framed elementor-position-left elementor-vertical-align-middle elementor-shape-circle elementor-widget elementor-widget-icon-box" data-id="79c2b0f1" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<a class="elementor-icon elementor-animation-" href="/apply">
				<i aria-hidden="true" class="far fa-credit-card"></i>				</a>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<a href="/apply">How do I get an In-Store or Online Installment Loan?</a>
				</h3>
								<p class="elementor-icon-box-description">In Store and Online Installment Loans are available only in certain states. Visit this page to see if Installment Loans are offered in your state.

.</p>
							</div>
		</div>
				</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-7b8517fc" data-id="7b8517fc" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-3496816b elementor-view-framed elementor-position-left elementor-vertical-align-middle elementor-shape-circle elementor-widget elementor-widget-icon-box" data-id="3496816b" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<a class="elementor-icon elementor-animation-" href="/apply">
				<i aria-hidden="true" class="fas fa-book"></i>				</a>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<a href="/apply">Why apply Installment Loans from Finance Solution Center?</a>
				</h3>
								<p class="elementor-icon-box-description">Installment Loans allow you to pay back your loan the way that fits your needs, with longer-term repayment options. This means you have the ability to repay with multiple payments over time.</p>
							</div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-23d89f91 elementor-widget elementor-widget-spacer" data-id="23d89f91" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-33a0141a elementor-view-framed elementor-position-left elementor-vertical-align-middle elementor-shape-circle elementor-widget elementor-widget-icon-box" data-id="33a0141a" data-element_type="widget" data-widget_type="icon-box.default">
				<div class="elementor-widget-container">
					<div class="elementor-icon-box-wrapper">
						<div class="elementor-icon-box-icon">
				<a class="elementor-icon elementor-animation-" href="/apply">
				<i aria-hidden="true" class="fas fa-calculator"></i>				</a>
			</div>
						<div class="elementor-icon-box-content">
				<h3 class="elementor-icon-box-title">
					<a href="/apply">How do I apply for an Installment Loan?</a>
				</h3>
								<p class="elementor-icon-box-description">The application process for this loan is quick and easy. Simply choose an in store or online loan, where applicable, fill out a quick application, get approved in minutes, and get money as soon as the same day*!</p>
							</div>
		</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-37a36b2b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="37a36b2b" data-element_type="section">
						<div class="elementor-container elementor-column-gap-wide">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-496c9399" data-id="496c9399" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-742b9b3c elementor-widget elementor-widget-heading" data-id="742b9b3c" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h3 class="elementor-heading-title elementor-size-large">Frequently asked questions</h3>		</div>
				</div>
				<div class="elementor-element elementor-element-585b68b5 elementor-widget elementor-widget-spacer" data-id="585b68b5" data-element_type="widget" data-widget_type="spacer.default">
				<div class="elementor-widget-container">
					<div class="elementor-spacer">
			<div class="elementor-spacer-inner"></div>
		</div>
				</div>
				</div>
				<div class="elementor-element elementor-element-aea8e6f elementor-widget elementor-widget-toggle" data-id="aea8e6f" data-element_type="widget" data-widget_type="toggle.default">
				<div class="elementor-widget-container">
					<div class="elementor-toggle" role="tablist">
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-1831" class="elementor-tab-title" data-tab="1" role="tab" aria-controls="elementor-tab-content-1831">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">How do I apply for an Installment Loan?</a>
					</div>
					<div id="elementor-tab-content-1831" class="elementor-tab-content elementor-clearfix" data-tab="1" role="tabpanel" aria-labelledby="elementor-tab-title-1831"><p>The application process for this loan is quick and easy. Simply choose an in store or online loan, where applicable, fill out a quick application, get approved in minutes, and get money as soon as the same day<sup>*</sup>!</p><p>Be sure to review the “What You&#8217;ll Need To Apply” section and click on “Learn More” for more details on what you&#8217;ll need to receive an Installment Loan in your state.</p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-1832" class="elementor-tab-title" data-tab="2" role="tab" aria-controls="elementor-tab-content-1832">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">What are the benefits of getting an Installment Loan?</a>
					</div>
					<div id="elementor-tab-content-1832" class="elementor-tab-content elementor-clearfix" data-tab="2" role="tabpanel" aria-labelledby="elementor-tab-title-1832"><p>This loan gets you the money you need today with the ability to make scheduled payments over time based on your pay cycle. Plus, the application process is quick and easy, with the option (depending on your state) to apply both in store and online. To find out what types of Installment</p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-1833" class="elementor-tab-title" data-tab="3" role="tab" aria-controls="elementor-tab-content-1833">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">When and how is the cash from my Installment Loan deposited?</a>
					</div>
					<div id="elementor-tab-content-1833" class="elementor-tab-content elementor-clearfix" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-1833"><p>There are several options for how you may receive your money, depending on whether you complete your application in-store or online. For an in store Installment Loan, you can receive cash or a check as soon as you&#8217;re approved and sign your loan paperwork. Should you choose to apply for your Installment Loan online, your money can be directly deposited into your bank account as soon as the same day</p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-1834" class="elementor-tab-title" data-tab="4" role="tab" aria-controls="elementor-tab-content-1834">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">What is the minimum/maximum amount of money available with an Installment Loan?</a>
					</div>
					<div id="elementor-tab-content-1834" class="elementor-tab-content elementor-clearfix" data-tab="4" role="tabpanel" aria-labelledby="elementor-tab-title-1834"><p>he minimum and maximum amounts available to you with an Installment Loan vary by state. To learn details about the amounts available in your state, </p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-1835" class="elementor-tab-title" data-tab="5" role="tab" aria-controls="elementor-tab-content-1835">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">What are the requirements to apply for an Installment Loan?</a>
					</div>
					<div id="elementor-tab-content-1835" class="elementor-tab-content elementor-clearfix" data-tab="5" role="tabpanel" aria-labelledby="elementor-tab-title-1835"><p>In order to apply for an Installment Loan, you&#8217;ll need to provide a government issued ID, proof of income, checking account, and verification of social security number. Requirements vary by state.</p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-1836" class="elementor-tab-title" data-tab="6" role="tab" aria-controls="elementor-tab-content-1836">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">Do I need perfect credit to apply for an Installment Loan?</a>
					</div>
					<div id="elementor-tab-content-1836" class="elementor-tab-content elementor-clearfix" data-tab="6" role="tabpanel" aria-labelledby="elementor-tab-title-1836"><p>Cash2Lending considers customers with all types of credit. For Installment Loans, we will review third party data sources to verify credit.</p></div>
				</div>
							<div class="elementor-toggle-item">
					<div id="elementor-tab-title-1837" class="elementor-tab-title" data-tab="7" role="tab" aria-controls="elementor-tab-content-1837">
												<span class="elementor-toggle-icon elementor-toggle-icon-left" aria-hidden="true">
															<span class="elementor-toggle-icon-closed"><i class="fas fa-caret-right"></i></span>
								<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-caret-up"></i></span>
													</span>
												<a href="" class="elementor-toggle-title">Does an Installment Loan require any collateral?</a>
					</div>
					<div id="elementor-tab-content-1837" class="elementor-tab-content elementor-clearfix" data-tab="7" role="tabpanel" aria-labelledby="elementor-tab-title-1837"><p>Collateral is not required for an Installment Loan. All we need from you is your government issued ID, proof of income, checking account, and verification of social security number in order to complete your application. To learn more about which documents are necessary to process your application,</p></div>
				</div>
					</div>
				</div>
				</div>
					</div>
		</div>
							</div>
		</section>
				<section class="elementor-section elementor-top-section elementor-element elementor-element-317b0f38 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="317b0f38" data-element_type="section">
						<div class="elementor-container elementor-column-gap-default">
					<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-11c1c3b0" data-id="11c1c3b0" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-ff88642 elementor-widget elementor-widget-heading" data-id="ff88642" data-element_type="widget" data-widget_type="heading.default">
				<div class="elementor-widget-container">
			<h2 class="elementor-heading-title elementor-size-default">What do you need to apply for an Installment Loan?</h2>		</div>
				</div>
				<div class="elementor-element elementor-element-628c9ba7 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="628c9ba7" data-element_type="widget" data-widget_type="divider.default">
				<div class="elementor-widget-container">
					<div class="elementor-divider">
			<span class="elementor-divider-separator">
						</span>
		</div>
				</div>
				</div>
				<section class="elementor-section elementor-inner-section elementor-element elementor-element-3015f789 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="3015f789" data-element_type="section">
						<div class="elementor-container elementor-column-gap-wider">
					<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1cfb08ef" data-id="1cfb08ef" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-726f1853 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="726f1853" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="128" height="128" src="https://cash2lending.com/wp-content/uploads/2021/02/1470399674_App_Development.png" class="attachment-full size-full" alt="" loading="lazy" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">VALUED PHONE NUMBER</h3></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-39d3a2e6 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="39d3a2e6" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="128" height="128" src="https://cash2lending.com/wp-content/uploads/2021/02/1470399656_Branding.png" class="attachment-full size-full" alt="" loading="lazy" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Government issued ID</h3></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-42a5c22 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="42a5c22" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="128" height="128" src="https://cash2lending.com/wp-content/uploads/2021/02/1470399671_SEO.png" class="attachment-full size-full" alt="" loading="lazy" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Checking account</h3></div></div>		</div>
				</div>
					</div>
		</div>
				<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1604a281" data-id="1604a281" data-element_type="column">
			<div class="elementor-widget-wrap elementor-element-populated">
								<div class="elementor-element elementor-element-5ebdc8f elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="5ebdc8f" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="128" height="128" src="https://cash2lending.com/wp-content/uploads/2021/02/1470399667_Newsletter.png" class="attachment-full size-full" alt="" loading="lazy" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">EMAIL ADDRESS</h3></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-5c59250 elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="5c59250" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="512" height="512" src="https://cash2lending.com/wp-content/uploads/2021/02/1470399594_Web_Design.png" class="attachment-full size-full" alt="" loading="lazy" srcset="https://cash2lending.com/wp-content/uploads/2021/02/1470399594_Web_Design.png 512w, https://cash2lending.com/wp-content/uploads/2021/02/1470399594_Web_Design-300x300.png 300w, https://cash2lending.com/wp-content/uploads/2021/02/1470399594_Web_Design-150x150.png 150w, https://cash2lending.com/wp-content/uploads/2021/02/1470399594_Web_Design-220x220.png 220w" sizes="(max-width: 512px) 100vw, 512px" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Source of income</h3></div></div>		</div>
				</div>
				<div class="elementor-element elementor-element-1cb788df elementor-position-left elementor-vertical-align-middle elementor-widget elementor-widget-image-box" data-id="1cb788df" data-element_type="widget" data-widget_type="image-box.default">
				<div class="elementor-widget-container">
			<div class="elementor-image-box-wrapper"><figure class="elementor-image-box-img"><img width="128" height="128" src="https://cash2lending.com/wp-content/uploads/2021/02/1470399667_Newsletter.png" class="attachment-full size-full" alt="" loading="lazy" /></figure><div class="elementor-image-box-content"><h3 class="elementor-image-box-title">Social Security Number or ITIN </h3></div></div>		</div>
				</div>
					</div>
		</div>
							</div>
		</section>
					</div>
		</div>
							</div>
		</section>
						</div>
					</div>
													</div><!-- .entry-content -->

					<footer class="entry-meta">
											</footer><!-- .entry-meta -->
				</article><!-- #post -->

				
<div id="comments" class="comments-area">

	
	
</div><!-- #comments -->			
		</div><!-- #content -->
        	</div><!-- #primary -->



		</div><!-- #main -->
		<%- include ('./footer.ejs') %>
	</div><!-- #page -->

<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/jquery/ui/effect.min.js?ver=1.12.1' id='jquery-effects-core-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/take-the-lead/jquery.mask.js?ver=5.7' id='takethelead_mask_script-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/take-the-lead/takethelead.js?ver=5.7' id='takethelead_script-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/imagesloaded.min.js?ver=4.1.4' id='imagesloaded-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/masonry.min.js?ver=4.2.2' id='masonry-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/jquery/jquery.masonry.min.js?ver=3.1.2b' id='jquery-masonry-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/owl.carousel.min.js?ver=1.3.2' id='owl-carousel-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/jquery.colorbox-min.js?ver=1.5.14' id='colorbox-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/jquery.inview.min.js?ver=1.0.0' id='inview-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/templatesnext-toolkit/js/tx-script.js?ver=2013-07-18' id='tx-script-js'></script>
<script type='text/javascript' id='541b17819-js-extra'>
/* <![CDATA[ */
var localize = {"ajaxurl":"https:\/\/cash2lending.com\/wp-admin\/admin-ajax.php","nonce":"dc2148464f","i18n":{"added":"Added ","compare":"Compare","loading":"Loading..."}};
/* ]]> */
</script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/uploads/essential-addons-elementor/734e5f942.min.js?ver=1615644656' id='541b17819-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/modernizr.custom.js?ver=2014-01-13' id='modernizer-custom-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/waypoints.min.js?ver=2014-01-13' id='itransform-waypoint-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/jquery.sidr.min.js?ver=2014-01-13' id='itransform-sidr-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/themes/i-transform/js/functions.js?ver=2016-10-18' id='itransform-script-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/wp-embed.min.js?ver=5.7' id='wp-embed-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/webpack.runtime.min.js?ver=3.1.2' id='elementor-webpack-runtime-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/frontend-modules.min.js?ver=3.1.2' id='elementor-frontend-modules-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-includes/js/jquery/ui/core.min.js?ver=1.12.1' id='jquery-ui-core-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/dialog/dialog.min.js?ver=4.8.1' id='elementor-dialog-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/waypoints/waypoints.min.js?ver=4.0.2' id='elementor-waypoints-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/share-link/share-link.min.js?ver=3.1.2' id='share-link-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/lib/swiper/swiper.min.js?ver=5.3.6' id='swiper-js'></script>
<script type='text/javascript' id='elementor-frontend-js-before'>
var elementorFrontendConfig = {"environmentMode":{"edit":false,"wpPreview":false,"isScriptDebug":false,"isImprovedAssetsLoading":false},"i18n":{"shareOnFacebook":"Share on Facebook","shareOnTwitter":"Share on Twitter","pinIt":"Pin it","download":"Download","downloadImage":"Download image","fullscreen":"Fullscreen","zoom":"Zoom","share":"Share","playVideo":"Play Video","previous":"Previous","next":"Next","close":"Close"},"is_rtl":false,"breakpoints":{"xs":0,"sm":480,"md":768,"lg":1025,"xl":1440,"xxl":1600},"version":"3.1.2","is_static":false,"experimentalFeatures":{"e_dom_optimization":true,"a11y_improvements":true,"landing-pages":true},"urls":{"assets":"https:\/\/cash2lending.com\/wp-content\/plugins\/elementor\/assets\/"},"settings":{"page":[],"editorPreferences":[]},"kit":{"global_image_lightbox":"yes","lightbox_enable_counter":"yes","lightbox_enable_fullscreen":"yes","lightbox_enable_zoom":"yes","lightbox_enable_share":"yes","lightbox_title_src":"title","lightbox_description_src":"description"},"post":{"id":40,"title":"Installment%20Loans%20%E2%80%93%20Payday%20%20Loan%20%7C%20Cash%20in%20advance%20%7C%20Installment%20Loan%20%7C%20Cash%20Loans%20%7C%20Title%20Loan%20%7CCash2Lending%20%7CLoan%20%7C%20online%20Loan%20%7C%20USA%20Loan%7C%20Insurance%7C%20Mortgage%7C%20Attorney%7C%20Credit%7C%20%7C","excerpt":"","featuredImage":false}};
</script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/frontend.min.js?ver=3.1.2' id='elementor-frontend-js'></script>
<script type='text/javascript' src='https://cash2lending.com/wp-content/plugins/elementor/assets/js/preloaded-elements-handlers.min.js?ver=3.1.2' id='preloaded-elements-handlers-js'></script>
</body>
</html>